* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.main {
  width: 100vw; /* viewport width */
  height: 100vh; /* viewport height */
  max-width: 1920px; /* max viewport width */
  max-height: 1080px; /* max viewport height */
  margin: auto; /* center the container if the viewport is larger than 1920x1080 */
  position: relative; /* set the context for the absolutely positioned children */
}

.main_content{
  width: 1300px;
  height: 1500px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position : relative;
  top: 845px;
  left: 171px;
  border: 1px solid rgba(0,0,0,1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v9_193 {
  width: 102px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 835px;
  left: 20px;
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.v9_189 {
  width: 1000px;
  height: 104px;
  background: rgba(239,83,33,1);
  opacity: 1;
  position: absolute;
  top: 1320px;
  left: 150px;
  border: 1px solid rgba(0,0,0,1);
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 50px;
  opacity: 1;
  text-align: center;
  color : white;
  border-radius: 30px;
}
.v9_190 {
  width: 148px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2212px;
  left: 854px;
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v9_178 {
  width: 204px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 300px;
  left: 20px;
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.v9_177 {
  width: 1000px;
  height: 357px;
  background: rgba(255,255,255,0.5);
  opacity: 1;
  position: absolute;
  top: 400px;
  left: 150px;
  border: 1px solid rgba(0,0,0,1);
  border-radius: 30px;
}



.v9_194 {
  width: 1000px;
  height: 357px;
  background: rgba(255,255,255,0.5);
  opacity: 1;
  position: relative;
  border: 1px solid rgba(0,0,0,1);
  top: 900px;
  left: 150px;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
}

.v9_194 div {
  margin: 0 10px;  /* replace 10px with the amount of space you want */
}

.v9_184 {
  width: 60%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 280px;
  left: 20px;
  font-family: Noto Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v9_183 {
  width: 60%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 230px;
  left: 20px;
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v9_181 {
  width: 60%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 120px;
  left: 20px;
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v9_180 {
  width: 60%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 70px;
  left: 20px;
  font-family: Noto Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v9_182 {
  width: 60%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 170px;
  left: 20px;
  font-family: Noto Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v9_179 {
  width: 60%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 20px;
  left: 20px;
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.main_photo {
  width: 1300px;
  height: 371px;
  background: url("../images/v9_145.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 474px;
  left: 171px;
  overflow: hidden;
}
.v9_153 {
  width: 47px;
  height: 48px;
  background: url("../images/v9_153.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 317px;
  left: 1250px;
  overflow: hidden;
}
.v9_139 {
  width: 100%;
  height: 369px;
  background: rgba(175,175,175,0.05000000074505806);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v9_138 {
  width: 170px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 46px;
  left: 459px;
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 42px;
  opacity: 1;
  text-align: left;
}
.v9_136 {
  width: 410px;
  height: 369px;
  background: url("../images/v9_136.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  overflow: hidden;
}
.v9_140 {
  width: 223px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 135px;
  left: 459px;
  font-family: Noto Sans;
  font-weight: Light;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.reserve_bar {
  width: 1000px;
  height: 116px;
  background: rgba(255,255,255,0.5);
  opacity: 1;
  position: absolute;
  top: 150px;
  left: 150px;
  border: 1px solid rgba(0,0,0,1);
  border-radius: 30px;
}

.v9_174 {
  width: 80%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 40px;
  left: 100px;
  font-family: Noto Sans;
  font-weight: Medium;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}

.v9_176 {
  width: 48px;
  height: 48px;
  background: url("../images/v9_176.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 35px;
  left: 40px;
  overflow: hidden;
}

.v9_196, .v9_198, .v9_202, .v9_204 {
  flex: 0 0 auto;
  width: 250px;
  height: 250px;
  margin-left: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
}

.v9_196 {
  background-image: url("../images/v9_196.png");
}

.v9_198 {
  background-image: url("../images/v9_198.png");
}

.v9_202 {
  background-image: url("../images/v9_202.png");
}

.v9_204 {
  background-image: url("../images/v9_204.png");
}

.reserve_message {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 238px;
  left: 171px;
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 101px;
  opacity: 1;
  text-align: left;
}
.v9_173 {
  width: 204px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 50px;
  left: 20px;
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.v10_292 {
  width: 414px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 5765px;
  left: 3180px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
