@charset "utf-8";

/**************************************************
프로그램 ID : layout.css
프로그램 명 : Layout Cascading Style Sheets
작  성   자 :
최초 작성일 : 2018/09/04
최종 작성일 :
참고   사항 :
**************************************************/


/* 전체틀
------------------------------------------------------------------------------- */
html, body {min-width:1640px; overflow-x:hidden;}
#wrapper, #head {min-width:1200px; width:100%;}
#wrapper {position:relative;}
html.noScroll, body.noScroll, #wrapper.noScroll {/*height:100vh;*/ overflow-y:hidden;}
@media screen and (max-width:1640px) {
  html, body {overflow-x:auto;}
}


/* 바로가기
------------------------------------------------------------------------------- */
.skip, .skip menu {position:absolute; left:0; top:0; width:100%; height:0; line-height:0; z-index:100;}
.skip a {position:absolute; top:-9999px; width:100%; font-size:0; color:#fff; text-align:center; font-weight:bold; background:#403128; display:block; z-index:150;}
.skip a:focus, .skip a:hover, .skip a:active {top:0; height:30px; font-size:12px; color:#fff; line-height:30px;}


/* 상단
------------------------------------------------------------------------------- */
header {position:absolute; width:100%;}
#head {position:fixed; width:100%; height:90px; z-index:200; transition:all, linear 0.3s;}
#head h1, .gnbArea {height:90px;}
#head h1 {float:left; margin-left:100px; display:table;}
#head h1 span {vertical-align:middle; display:table-cell;}
#head h1 span a {width:147px; height:30px; text-indent:-9999px; background:url(Google_2015_logo.svg.png) 0 50% no-repeat; display:block; transition:all, linear 0.3s;}
.gnbArea {float:right; padding:0 65px; background:rgba(51,51,51,0.80);}
.gnbArea a {color:#fff; font-weight:500;}
#gnb, #head .etc {float:left; height:90px; display:table;}
#gnb > li, #head .etc > li {padding:0 22px; vertical-align:middle; display:table-cell;}
#gnb > li > a {font-size:18px;}
#gnb > li > a:after {margin-left:10px; width:12px; height:8px; background:url(/assets/hub/global/images/ico/ico_fold01.png) 0 0 no-repeat; vertical-align:2px; display:inline-block; content:""; transition:background-position 0.1s linear;}
#gnb > li > a:hover:after, #gnb > li.on > a:after {background-position:0 100%;}
#gnb > li.store > a:after {display:none;}
#gnb > li.on:after {height:1px; margin:5px 0 -6px 0; background:#fff; display:block; content:"";}
#head .etc .lang {position:relative;}
#head .etc .lang ul {position:absolute; top:90px; left:-15px; width:88px; text-align:center; background:rgba(51,51,51,0.80);}
#head .etc .lang ul li {padding:6px 5px 12px 5px;}
#head .etc .lang ul li:hover {background:#444;}
.gnbSub {position:absolute; top:90px; left:0; width:100%; border-top:2px solid #333; background:rgba(255,255,255,0.95);}
.gnbSub .close.st01 {top:24px; left:50%; margin-left:574px;}
.gnbSub a {font-size:16px; font-weight:400;}
.gnbSub > ul {height:80px; margin:0 auto; display:table;}
.gnbSub > ul > li {position:relative; padding:0 20px; vertical-align:middle; display:table-cell;}
.gnbSub > ul > li:hover:before, .gnbSub > ul > li.on:before {position:absolute; top:0; left:50%; width:1px; height:20px; background:#fff; display:block; content:"";}
.gnbSub > ul > li:hover a {font-weight:700;}
.gnbSub > div, .gnbSub > dl {margin:50px auto;}
.gnbSub > dl {display:table;}
.gnbSub > dl > dd {position:relative; width:400px; padding:6px 70px 15px 70px; vertical-align:top; display:table-cell;}
.gnbSub > dl > dd:not(:first-child) {border-left:1px solid #bcbcbc;}
.gnbSub > dl > dd a:not(.btn) {font-size:16px; color:#333; font-weight:500;}
.gnbSub > dl > dd > menu > li > menu {margin-top:6px;}
.gnbSub > dl > dd > menu > li > menu > li {margin:3px 0 !important;}
.gnbSub > dl > dd > menu > li > menu > li a:not(.btn) {position:relative; padding-left:12px; font-size:14px; color:#666;}
.gnbSub > dl > dd > menu > li > menu > li a:not(.btn):before {position:absolute; top:8px; left:8; width:4px; height:4px; background:#888; transform:rotate(45deg); display:block; content:"";}
.gnbSub dd.slideArea {padding:15px 49px 15px 70px;}
.gnbSub dd.slideArea .bx-has-pager {position:absolute; top:150px; width:100%;}
.gnbSub dd.slideArea .bx-pager, .gnbSub dd.slideArea .bx-pager a {font-size:0; line-height:0; text-align:center;}
.gnbSub dd.slideArea .bx-pager .bx-pager-item {margin:0 3px; vertical-align:middle; display:inline-block;}
.gnbSub dd.slideArea .bx-pager .bx-pager-link {width:10px; height:10px; border-radius:50%; display:block; opacity:1; transition:all, linear 0.3s;}
.gnbSub dd.slideArea .bx-pager .bx-pager-link:not(.active) {padding:2px;}
.gnbSub dd.slideArea .bx-pager .bx-pager-link:not(.active):before {height:100%; border-radius:50%; background:#fff; display:block; content:"";}
.gnbSub dd.slideArea .bx-pager .bx-pager-link.active {border:2px solid #fff;}
.gnbSub .slide > li {width:280px !important; padding-bottom:14px; border-bottom:1px solid #bbbdbd;}
.gnbSub .slide span.autoImg {width:280px; height:180px;}
.gnbSub .slide figcaption {width:100%; height:180px; margin-top:-180px; padding-bottom:10px; display:table;}
.gnbSub .slide figcaption h5 {font-size:20px; color:#fff; line-height:24px; font-weight:700; text-align:center; vertical-align:middle; display:table-cell;}
.gnbSub .slide h6 {margin-top:13px; height:20px; padding-right:34px; font-size:16px; line-height:20px; background:url(/assets/hub/global/images/ico/ico_arrow07.png) 100% 7px no-repeat; word-break:keep-all; white-space:nowrap; word-wrap:normal; text-overflow:ellipsis; overflow:hidden;}

.gnbSub.book > dl > dd:nth-of-type(1) {width:300px; padding-right:50px;}
.gnbSub.book > dl > dd:nth-of-type(1) .note.st05 {margin-top:-2px; padding:16px 0 0 7px; border-top:1px solid #ddd;}
.gnbSub.book > dl > dd:nth-of-type(1) .note.st05:before {width:7px; margin:0 0 0 -7px;}
.gnbSub.book > dl > dd:nth-of-type(2) {padding-right:50px; padding-left:50px;}
.gnbSub.book menu li {margin:6px 0 18px 0;}
.gnbSub.book .tag {margin-top:6px;}
.gnbSub.book .tag a {min-width:80px; height:35px; margin:5px 2px 0 0; padding:0 5px; font-weight:400; line-height:33px; text-align:center; border:1px solid #adadad; display:inline-block;}
.gnbSub.book .tag a:hover {color:#fff; border-color:#333; background:#333;}Z
                                                                           .gnbSub:not(.myinfo) > dl > dd:nth-of-type(1) .note.st05 {margin-top:-2px; padding:16px 0 0 7px; border-top:1px solid #ddd;}
.gnbSub:not(.myinfo) > dl > dd:nth-of-type(1) .note.st05:before {width:7px; margin:0 0 0 -7px;}
.gnbSub:not(.myinfo) > dl > dd:nth-of-type(2):not(.slideArea) {padding-right:50px; padding-left:50px;}
.gnbSub:not(.myinfo) menu li {margin:6px 0 18px 0;}
.gnbSub:not(.myinfo) .note.st05 {word-break:keep-all; white-space:normal;}
.gnbSub.brand, .gnbSub.dining {padding-top:50px; border-top:none; background:rgba(51,51,51,0.90);}
.gnbSub.brand h4 {margin:29px 0 40px 0; font-size:22px; color:#fff; text-align:center;}
.gnbSub.brand .btnC {margin:40px 0 30px 0;}
.gnbSub.brand .base.st03 {width:230px; height:40px; font-size:14px; font-weight:400;}
.gnbSub.brand a.base.st03 {line-height:38px;}
.gnbSub.brand .close.st01, .gnbSub.dining .close.st01 {background-image:url(/assets/hub/global/images/btn/btn_close01.png);}
.gnbSub.brand ul, .gnbSub.dining ul {clear:both; width:1200px; height:auto; border-top:0; margin:0 auto; overflow:hidden;}
.gnbSub.brand ul li, .gnbSub.dining ul li {float:left; width:250px; height:99px; text-align:center; border-left:1px solid rgba(255,255,255,0.20); border-bottom:1px solid rgba(255,255,255,0.20); display:table;}
.gnbSub.brand ul li {border-top:1px solid rgba(255,255,255,0.20);}
.gnbSub.brand ul li:nth-child(3n) {border-right:1px solid rgba(255,255,255,0.20);}
.gnbSub.brand ul li:nth-child(3) {margin-right:10px;}
.gnbSub.brand ul li:nth-child(4), .gnbSub.brand ul li:last-child {width:218px;}
.gnbSub.brand ul li:last-child, .gnbSub.dining ul li:nth-child(5n) {border-right:1px solid rgba(255,255,255,0.20);}
.gnbSub.brand ul li a, .gnbSub.dining ul li a {height:100%; vertical-align:middle; display:table-cell;}
.gnbSub.brand ul li a:hover, .gnbSub.dining ul li a:hover {background-color:#fff;}
.gnbSub.dining ul li {width:240px; border-top:1px solid rgba(255,255,255,0.20); border-right:1px solid rgba(255,255,255,0.20);}
.gnbSub article.table {width:1200px; margin:23px auto 0 auto;}
.gnbSub article.table span {color:#fff;}
.gnbSub article.table a.ic.book:after {width:26px; height:7px; margin-left:8px; vertical-align:2px; background-image:url(/assets/hub/global/images/ico/ico_arrow01.png);}
.gnbSub.brand article.table span {padding-top:20px;}
.gnbSub.dining article.table span {width:960px;}
.gnbSub.dining article.table > a {height:50px; text-align:center; border:1px solid rgba(255,255,255,0.50);}
.gnbSub.dining article.table > a img {height:19px;}
.gnbSub.activity > dl, .gnbSub.store > dl {padding-left:300px;}

.gnbSub.myinfo h4 {margin:3px 0 12px 0; font-size:19px; color:#666; line-height:28px; letter-spacing:-0.02em;}
.gnbSub.myinfo h4 strong {color:#333;}
.gnbSub.myinfo h4 em {color:#6c7594;}
.gnbSub.myinfo h4 + p {font-size:16px; line-height:24px;}
.gnbSub.myinfo p {margin-top:7px;}
.gnbSub.myinfo p + .btnC {margin-top:18px;}
.gnbSub.myinfo .btnC > .btn, .gnbSub.myinfo .online dl dd .btn {width:100%; margin:0;}
.gnbSub.myinfo .btnC > .btn:not(:first-child) {margin-top:5px;}
.gnbSub.myinfo .btnC + .btnL {margin-top:7px;}
/*.gnbSub.myinfo .btnL .btn.txt:first-child {margin-right:20px;}*/
/*.gnbSub.myinfo > dl > dd:not(.online) .btnC {position:absolute; bottom:15px; width:calc(100% - 140px);}*/
.gnbSub.myinfo .benefit ul.note {margin-bottom:16px; padding-bottom:25px; border-bottom:1px solid #c1c1c1;}
.gnbSub.myinfo .benefit p {color:#333;}
.gnbSub.myinfo .benefit p a {font-size:14px; display:inline-block;}
.gnbSub.myinfo .benefit p a:after {height:1px; background:#333; display:block; content:'';}
.gnbSub.myinfo .online dl.regist {padding-top:4px;}
.gnbSub.myinfo .online dl.regist dd {margin-top:5px;}
.gnbSub.myinfo .online .btnL {margin-top:12px;}
.gnbSub.myinfo .online .btnL label {margin-right:0;}
.gnbSub.myinfo .online ul.snsLogin {width:calc(100% + 2px); margin:14px -1px 0 -1px; display:table;}
.gnbSub.myinfo .online ul.snsLogin li {width:20%; padding:0 1px; display:table-cell;}
.gnbSub.myinfo .online .btn.sns {height:35px; padding:0; font-size:0; text-align:center;}
.gnbSub.myinfo .online .btn.sns:before {margin-right:0;}
.gnbSub.myinfo .online .btn.sns:after {display:none;}
.gnbSub.myinfo .rewards {padding-right:50px; padding-left:50px;}
.gnbSub.myinfo .rewards h4 {text-align:center;}
.gnbSub.myinfo .rewards dl.info {padding-top:15px; border-top:1px solid #c1c1c1;}
.gnbSub.myinfo .rewards dl.info > dt {float:left; color:#333; font-weight:500;}
.gnbSub.myinfo .rewards dl.info > dd {min-height:22px; color:#6c7594; font-weight:700; text-align:right;}
.gnbSub.myinfo .rewards dl.info > dd:nth-of-type(1) {margin-bottom:15px;}
.gnbSub.myinfo .rewards dl.info > dd:nth-of-type(2):last-of-type {margin-bottom:52px;}
.gnbSub.myinfo .rewards dl.info > dd:nth-of-type(2):not(:last-of-type) {float:left; width:100px; margin:-2px 20px 0 0;}
.gnbSub.myinfo .rewards dl.info > dd:nth-of-type(2):not(:last-of-type) em {vertical-align:-2px;}
.gnbSub.myinfo .rewards dl.booking {width:100%; height:54px; margin-top:20px; padding:0 20px; color:#fff; background:#6C7594; display:table;}
.gnbSub.myinfo .rewards dl.booking > * {font-size:14px; line-height:22px; vertical-align:middle; display:table-cell;}
.gnbSub.myinfo .rewards dl.booking > dt {font-weight:700;}
.gnbSub.myinfo .rewards dl.booking > dt:before {width:19px; height:24px; margin-right:10px; background:url(/assets/hub/global/images/ico/ico_book01.png) 0 0 no-repeat; vertical-align:-7px; display:inline-block; content:"";}
.gnbSub.myinfo .rewards dl.booking > dd {text-align:right;}
.gnbSub.myinfo .rewards dl.booking > dd strong {font-size:16px;}
#head .etc > li .ico.chat {margin-top:8px;}
#head .lang > a:after {height:3px; background:#fff; display:block; content:"";}
#head.fix, #head.on {border-bottom:1px solid #ededed; background:#fff;}
#head.fix {top:0;}
#head.fix h1 span a, #head.on h1 span a {background-image:url(/assets/hub/global/images/txt/h1_walkerhill02.png);}
#head.fix .gnbArea, #head.on .gnbArea, #head.fix .etc .lang ul {background:#333;}
#head.fix.down, #head.fix.down h1, #head.fix.down .gnbArea, #head.fix.down #gnb, #head.fix.down .etc {height:70px;}
#head.fix.down .gnbSub, #head.fix.down .etc .lang ul {top:70px;}
@media only screen and (max-width:1280px) {
  #head h1 {margin-left:40px;}
  .gnbArea {padding:0 25px;}
}

#allmenu {position:absolute; top:0; left:0; width:100%; height:100vh; padding:15px 25px; background:rgba(0,0,0,0.80); z-index:500;}
#allmenu > section {clear:both; min-width:1280px; max-width:1920px; height:calc(100vh - 30px); max-height:1100px; margin:0 auto; background:#615c58; overflow:auto;}
#allmenu mark, #allmenu h3, #allmenu a {color:#fff;}
#allmenu menu menu a, #allmenu div.menu ul a {color:rgba(255,255,255,0.70);}
#allmenu div.link {float:left; min-width:400px; width:33.96%; max-width:635px; overflow:hidden;}
#allmenu div.link ul {position:relative; padding-top:729px; text-align:right;}
#allmenu div.link ul li {height:38px; font-size:18px; line-height:38px; overflow:hidden;}
#allmenu div.link a {font-weight:700; display:inline-block;}
#allmenu div.link a span {font-size:10px; font-weight:400;}
#allmenu div.link a:hover {margin-top:-38px;}
#allmenu div.link a:hover em:before {width:65px; height:7px; margin-right:20px; background:url(/assets/hub/global/images/ico/ico_arrow03.png) 0 0 no-repeat; vertical-align:4px; display:inline-block; content:"";}
#allmenu div.link figure {position:absolute; top:0; left:50%; margin-left:-317.5px; opacity:0;}
#allmenu div.link li:first-child figure, #allmenu div.link a:hover + figure {opacity:1;}
#allmenu div.menu {position:relative; height:972px; padding:90px 0 0 120px; overflow:hidden;}
#allmenu div.menu mark {position:absolute; right:0; bottom:145px; width:460px; height:100px; font-size:22px; line-height:98px; font-weight:700; text-align:center; background:#333;}
#allmenu div.menu nav {clear:both; height:612px; overflow:hidden;}
#allmenu div.menu nav h3 {margin-bottom:11px; font-size:22px; line-height:28px;}
#allmenu div.menu nav menu menu {min-height:60px; margin-bottom:40px;}
#allmenu div.menu nav menu menu li a, #allmenu div.menu ul.menu a {font-size:16px; line-height:24px;}
#allmenu div.menu nav > menu > li {float:left; width:220px; }
#allmenu div.menu nav > menu > li:nth-child(3n+1) {clear:both; width:280px;}
#allmenu div.menu ul li {display:inline-block;}
#allmenu div.menu ul.menu {margin-top:34px; margin-bottom:20px; padding-bottom:16px; border-bottom:1px solid rgba(255,255,255,0.20);}
#allmenu div.menu ul.menu li:not(:first-child):before {width:1px; height:15px; margin:0 19px 0 17px; background:rgba(255,255,255,0.40); vertical-align:-1px; display:inline-block; content:"";}
#allmenu div.menu dl.mypage {margin:25px 0 0 -40px; padding:22px 0 22px 40px; border-right:1px solid rgba(255,255,255,0.30); background:#333;}
#allmenu div.menu dl.mypage > dt {font-size:22px; font-weight:700; color:#fff;}
#allmenu div.menu dl.mypage > dd {margin-top:10px;}
#allmenu div.menu dl.mypage > dd ul.menu {margin-top:0; margin-bottom:0; padding-bottom:0; border-bottom:0;}
#allmenu div.menu dl.mypage + ul.appDown {margin-top:20px;}
#allmenu div.menu ul.appDown li:not(:first-child) {margin-left:36px;}
#allmenu div.menu ul.appDown li a {color:rgba(255,255,255,0.50); font-weight:700;}
#allmenu div.menu ul.appDown li a:before {width:27px; height:32px; margin-right:10px; background-position:100% 50%; background-repeat:no-repeat; vertical-align:middle; display:inline-block; content:"";}
#allmenu div.menu ul.appDown li:first-child a:before {background-image:url(/assets/hub/global/images/ico/ico_googlePlay02.png);}
#allmenu div.menu ul.appDown li:nth-child(2) a:before {background-image:url(/assets/hub/global/images/ico/ico_appStore02.png);}
#allmenu .close {top:0; right:0; width:190px; height:90px; background-image:url(/assets/hub/global/images/btn/btn_close01.png); background-color:#333;}
@media only screen and (max-width:1600px) {
  #allmenu div.link {width:30.97%; max-width:480px;}
}
@media only screen and (max-width:1599px) {
  #allmenu div.menu {padding-left:100px;}
  #allmenu div.menu mark {width:450px;}
}
@media only screen and (max-width:1470px) {
  #allmenu div.menu {padding-left:80px;}
  #allmenu div.menu mark {width:400px;}
  #allmenu div.menu nav > menu > li {width:200px;}
  #allmenu div.menu nav > menu > li:nth-child(3n+1), #allmenu div.menu nav > menu > li:last-child {width:260px;}
}
@media only screen and (max-width:1280px) {
  #allmenu {overflow-x:scroll;}
}


/* 상단배너
------------------------------------------------------------------------------- */
.bnrHead {/*display:none;*/}
/* 배너:공지사항 */
.bnrHead .bnrNotice, #barExplorer .bnrNotice {position:relative; width:100%; min-height:50px; padding:0 70px 0 30px; text-align:center; background:#5fa030; z-index:200;}
.bnrHead .bnrNotice dl, #barExplorer .bnrNotice dl {margin:0 auto; padding:11px 0; display:table;}
.bnrHead .bnrNotice dl.tl {margin:0;}
.bnrHead .bnrNotice dl dd, #barExplorer .bnrNotice dl dd {height:50px; font-size:18px; color:#fff; line-height:22px; vertical-align:middle; display:table-cell;}
.bnrHead .bnrNotice dl dd:last-child {min-width:114px; padding-left:20px;}
.bnrHead .bnrNotice dl dd .btn.base {height:40px; padding:0 13px; font-size:14px; line-height:1; font-weight:700; background:#333;}
.bnrHead .bnrNotice .ico.close, #barExplorer .bnrNotice .ico.close {top:50%; right:30px; transform:translateY(-50%);}


/* 내용
------------------------------------------------------------------------------- */
#contents > section, #contents > div:not(.searchArea):not(.location) > section, .sectionBg > section {position:relative; width:1000px; margin:0 auto; padding-top:50px; padding-bottom:50px;}
#wrapper.book #contents > section, #wrapper.book #contents > div:not(.searchArea):not(.location) > section, #wrapper.book .sectionBg > section {width:1400px; padding-top:180px;}
#contents > section:first-of-type, #contents > div:first-of-type > section:first-of-type {padding-top:0;}
#contents:not(.bg):not(.rewards) > section:last-of-type, #contents:not(.bg) > div:not(.sectionBg):not(.location) > section:last-child, #contents:not(.bg) > .sectionBg:last-child {padding-bottom:160px;}
/*#contents:not(.bg) > section:first-of-type,*/ #contents:not(.bg) > div:not(:last-child) > section:first-of-type, #contents:not(.bg) > .sectionBg:first-of-type, #contents:not(.bg) > h3 + section:not(:last-child) {padding-bottom:50px !important;}
#contents > .sectionBg:last-child > section {padding-bottom:0 !important;}
#contents .sectionBg {position:relative; background:#f7f7f7;}
#contents .sectionBg.st01, #contents.bg.st01 {background:#fafafa;}
#contents .sectionBg.st02, #contents.bg.st02 {background:#e3e8e9;}
#contents .sectionBg.st03, #contents.bg.st03 {background:#e6ebec;}
#contents .sectionBg.st04, #contents.bg.st04 {background:#fff;}
#contents .sectionBg.st05, #contents.bg.st05 {background:#fbfbfb;}
#contents .sectionBg.st06, #contents.bg.st06 {background:#ddd;}
#contents.bg {padding-bottom:160px; background:#f7f7f7;}
#contents.bg > section {padding-left:80px; padding-right:80px; border:1px solid #e8e8e8; border-top:0 none; background:#fff;}
#contents.bg .tabMenu {width:calc(100% + 162px); margin:0 -81px;}
#contArea {position:relative;}
.contArea {padding:0 80px 60px 80px !important; border:1px solid #e8e8e8; background:#fff;}
.location {position:relative; width:100%; height:490px; margin-bottom:-50px; padding-top:120px; background-position:50% 0; background-repeat:no-repeat; background-color:#333; display:table; z-index:0;}
.location > * {color:#fff !important; font-weight:500; text-align:center; vertical-align:top; display:table-cell;}
.location hgroup h4 {padding:0; font-size:46px; color:#fff; line-height:1 !important;}
.location hgroup h4[lang="en"] {font-size:52px;}
.location hgroup h4:before {width:1px; height:45px; margin:0 auto 28px auto; background:#fff; display:block; content:"";}
.location hgroup h3 {margin:13px 0 22px 0; font-size:16px; font-weight:500; color:#fff;}
.location p {font-size:12px; font-weight:500; opacity:0.7;}
.location p span:not(:first-child):before {margin:0 11px 0 8px; display:inline-block; content:">";}
.location:after {position:absolute; left:50%; bottom:0; width:1060px; height:80px; margin-left:-530px; background:rgba(255,255,255,0.60); display:block; content:"";}
.about .location, .customer .location, .hr .location {background-image:url(/assets/hub/global/images/bg/bg_locWalkerhill.jpg);}
.account .location, .mypage .location, .mypage .payment .location, .mypage .store .location {background-image:url(/assets/hub/global/images/bg/bg_locAccount.jpg);}
.reserve .eat .location, .reserve .dining .location {background-image:url(/assets/hub/global/images/bg/bg_locDining.jpg);}
.reserve .hotel .location {background-image:url(/assets/hub/global/images/bg/bg_locHotel.jpg);}
.membership .location {background-image:url(/assets/hub/global/images/bg/bg_locMembership.jpg);}
.payment .location {background-image:url(/assets/hub/global/images/bg/bg_locPayment.jpg);}
.store .location {background-image:url(/assets/hub/global/images/bg/bg_locStore.jpg);}
.offer .location {background-image:url(/assets/hub/global/images/bg/bg_locOffer.jpg);}
.about .esg .location {background-image:url("/assets/hub/global/images/bg/bg_locESG.jpg");}
.convention .meeting .location {background-image:url("/assets/hub/global/images/bg/bg_locConvention01.jpg");}
.convention .wedding .location {background-image:url("/assets/hub/global/images/bg/bg_locConvention02.jpg");}
.convention .family .location {background-image:url("/assets/hub/global/images/bg/bg_locConvention03.jpg");}
/* 별도(임직원예약) */
#wrapper.separate {background:#3f3f3f;}
/* 톡톡 */
div.talktalk {position:fixed; bottom:50px; left:50%; width:0; height:0; margin-left:663px; z-index:100;}
div.talktalk.off {position:absolute; bottom:auto; margin-top:-50px;}
div.talktalk > .btn {width:0; height:0; padding:0; font-size:0; text-indent:-9999px;}
div.talktalk > .btn:before {position:absolute; left:2px; top:-32px; width:50px; height:45px; background:url(/assets/grandwalkerhillseoul/global/images/ico/ico_talktalk02.png) 0 0 no-repeat; display:none; content:"";}
div.talktalk .talktip {visibility:hidden;}
div.talktalk .talkChat {position:absolute; right:63px; bottom:0; line-height:0; border-radius:8px; box-shadow:0 0 10px rgba(0,0,0,0.50); display:none;}
div.talktalk .talkChat iframe {position:relative; width:420px; height:600px; padding:0; margin:0; border-radius:8px; z-index:10;}
div.talktalk .close {position:absolute; top:0; right:-63px; width:53px; height:53px; border-radius:50%; background:url(/assets/hub/global/images/btn/btn_close03.png) 50% 50% no-repeat rgba(0,0,0,0.80); background-size:20px auto; z-index:1;}
@media only screen and (max-width:1326px) {
  div.talktalk {margin-left:600px;}
  div.talktalk .talkChat {right:43px;}
}


/* 하단
------------------------------------------------------------------------------- */
#foot {position:relative; background:#14151d;}
#foot nav, #foot > section, #foot div menu.gnbFoot, #foot > div ul {width:1200px; margin:0 auto; display:table;}
#foot nav menu.gnbFoot > li, #foot section > *, #foot > div ul li {vertical-align:top; display:table-cell;}
#foot nav {padding:0 0 41px 550px; display:block;}
#foot nav menu.gnbFoot > li:not(:last-child) {width:200px;}
#foot nav menu.gnbFoot > li:before {width:1px; height:30px; margin-bottom:54px; background:rgba(255,255,255,0.30); display:block; content:"";}
#foot nav h3 {margin-bottom:14px; font-size:14px; color:#ccc; font-weight:500; letter-spacing:0;}
#foot nav a {color:#999; font-weight:500;}
#foot nav menu menu li {margin-top:6px;}
#foot nav .about {margin-top:48px;}
#foot nav .about > li {margin-right:16px; display:inline-block;}
#foot nav .about > li:first-child a {color:#bbb; font-weight:700;}
#foot section h1 {position:relative; width:400px; padding-top:6px; text-align:center;}
#foot section h1:after {position:absolute; left:50%; bottom:0; width:300px; height:9px; margin-left:-150px; background:rgba(255,255,255,0.20); display:block; content:"";}
#foot address {padding:0 0 76px 150px; font-size:12px; color:#555;}
#foot address:before {height:1px; margin-bottom:36px; background:#3f4046; display:block; content:"";}
#foot address aside {float:right; padding-top:2px;}
#foot address aside figure {display:table;}
#foot address aside figure > * {vertical-align:middle; display:table-cell;}
#foot address aside figure:not(:first-of-type) {margin-top:18px;}
#foot address aside figure span {width:43px; padding-right:10px; text-align:center;}
#foot address aside figure figcaption {font-size:11px; line-height:15px; color:rgba(255,255,255,0.60); text-align:left;}
#foot address aside figure figcaption strong {font-weight:700;}
#foot address aside figure:first-of-type span img {width:33px;}
#foot address aside figure:nth-of-type(2) span img {width:24px;}
#foot address aside figure:nth-of-type(5) span img {width:37px;}
#foot address aside figure:nth-of-type(6) span img {width:31px;}
#foot address aside figure figcaption dl dt {margin-right:4px; font-weight:700;}
#foot address dl.contact {height:auto; margin-bottom:23px; color:#999; overflow:hidden;}
#foot address dl.contact > dt {clear:both; float:left; margin-right:10px; font-weight:700;}
#foot address dl.contact > dd {font-size:18px;}
#foot address dl.contact > dt:not(:first-of-type), #foot address dl.contact > dd:not(:first-of-type) {margin-top:4px;}
#foot address dl.contact a {color:#999;}
#foot address dl.addr {clear:both; height:auto; overflow:hidden;}
#foot address dl.addr dt, #foot section address dl.addr dd:not(:nth-of-type(2)):not(:nth-of-type(3)) {float:left; display:block;}
#foot address dl.addr dt:not(:nth-of-type(5)) {clear:both;}
#foot address dl.addr dd:not(:first-of-type) {padding-left:6px;}
#foot address dl.addr dd:nth-of-type(2):before, #foot address dl.addr dd:nth-of-type(3):before, #foot address dl.addr dt:nth-of-type(5):before {width:1px; height:10px; margin:0 10px; background:#5b5c61; vertical-align:-1px; display:inline-block; content:"";}
#foot address p {margin-top:18px;}
#foot div.link {float:right; margin:-42px -22px;}
#foot div.link .select2 {width:165px !important;}
#foot > div {border-top:1px solid #2c2d34; border-bottom:1px solid #2a2b32;}
#foot > div ul li {height:149px; vertical-align:middle; opacity:0.5;}
#foot > div ul li:not(:last-child) {padding-right:100px;}
#foot > div ul li:last-child {text-align:right;}

#quick {position:fixed; bottom:50px; right:40px; width:60px; border:0 none !important; z-index:100;}
#quick button {width:62px; height:61px; background: linear-gradient(to bottom, #66ff66 0%, #ffffcc 100%);}
#quick button:hover {background-position:0 0;}
#quick.off {position:absolute; top:-110px; bottom:auto;}


/* 암막/팝업
------------------------------------------------------------------------------- */
.mask {position:fixed !important; background:#000; opacity:0.85; z-index:300;}
.iframe_layer {position:absolute; border:none; background-color:transparent; display:none !important; z-index:200;}
.dimmed {position:fixed; left:0; top:0; min-width:1280px; width:100%; background:rgba(0,0,0,0.80); z-index:400;}
#loadingOverlay {position:absolute; text-align:center; display:none; z-index:500;}

.popup {position:absolute; background:#fff; display:none; z-index:350;}
.popup section {position:relative; padding:70px 110px; overflow-y:auto; -webkit-overflow-scrolling:touch;}
.popup section.st01 {padding:70px 80px;}
.popup .close {top:21px; right:21px;}
.popup dl.coupon {width:100%; height:62px; border:1px solid #e8e8e8; display:table;}
.popup dl.coupon > dd {padding:10px 50px; color:#333; text-align:center; vertical-align:middle; display:table-cell;}
.popup dl.coupon + .note {margin-top:7px;}
.popup.st01 section {padding:30px;}
.popup.st01 h3 {margin-bottom:35px; font-weight:700; font-size:25px; text-align:center;}
.popup.st01 .btnC .btn {min-width:100px;}
.popup.st01 .ico.close {top:33px; right:30px;}
/* 가이드맵 */
.popup.st02 {width:450px; background:#fff; overflow:hidden; z-index:150;}
.popup.st02 > section {height:100%; margin:0; padding:0 50px; overflow:auto;}
.popup.st02 h2 {position:absolute; top:0; left:0; width:100%; height:180px; margin:0; background-position:0 50%; background-repeat:no-repeat; background-size:100% auto; display:table;}
.popup.st02 h2 span {padding:25px 50px; font-size:24px; color:#fff; line-height:30px; font-weight:500; text-align:left; vertical-align:bottom; display:table-cell;}
.popup.st02 h2 em {font-size:16px; display:block;}
.popup.st02 h3 {position:absolute; top:0; left:0; width:100%; height:125px; padding:25px 50px 30px 50px; font-size:28px; display:table; table-layout:fixed;}
.popup.st02 h3 span {text-align:center; border-bottom:1px solid #ddd; background:#fff; vertical-align:middle; display:table-cell;}
.popup.st02 dl + p {margin-top:10px;}
.popup.st02 > .btnC {position:absolute; bottom:40px; left:0; width:100%; padding:0 35px;}
.popup.st02 > .btnC ul {width:100%; padding:0 5px; display:table;}
.popup.st02 > .btnC ul li {width:50%; padding:0 10px; display:table-cell;}
.popup.st02 > .btnC ul li .btn {width:100%; margin:0;}
.popup.st02 .ico.close {top:30px; right:30px;}
/* 이미지 */
.popup.st03 > section {padding:0; border:0 none;}
/* 힐링크레딧 */
.popup.st04 {width:600px;}
.popup.st04 > section {padding:70px 60px;}

/* initpop */
.popup:not(.modal).initPop {position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.50); overflow-x:auto; overflow-y:auto; display:none; z-index:350; -webkit-overflow-scrolling:touch;}
.popup.initPop section {padding:0; overflow-y:inherit;}
.popup.initPop .popArea {position:relative; width:auto; min-height:calc(100% - 3.5rem); margin:20px auto; align-items:center; display:flex; justify-content:center; pointer-events:none;}
.popup.initPop .popArea:before {height:calc(100vh - 3.5rem); display:block; content:"";}
.popup.initPop .popBody {position:relative; width:auto; display:flex; flex-direction:column; pointer-events:auto;}
.popup.initPop .popBody > h1 {width:100%; height:60px; padding:0 100px; font-size:22px; color:#fff; line-height:34px; text-align:center; background:#333; display:table;}
.popup.initPop .popBody > h1 span {vertical-align:middle; display:table-cell;}
.popup.initPop .popCont {padding:120px 100px; background:#fff;}
.popup.initPop .popCont .btnL, .popup.initPop .popCont .btnC {margin-top:35px;}
.popup.initPop .popCont + .btnC {margin-top:0;}
.popup.initPop .popCont.st01 {padding:0;}
.popup.initPop .popCont.st02 {padding:60px 50px 100px 50px;}
.popup.initPop .popCont.st03 {padding:60px;}
.popup.initPop .popFoot .table {height:44px;}
.popup.initPop .popFoot .table > *:last-child {text-align:right;}
.popup.initPop .close.st08 {top:70px; right:70px;}
/* 로그인 */
.popup section.login {width:716px; padding:70px 80px;}
.popup section.login h2 {height:40px; margin-bottom:50px; text-align:center;}
.popup section.login h2 span {font-weight:500; font-size:40px; color:#333; line-height:38px}
.popup section.login dl dd input {width:400px;}
.popup section.login button.em02 {width:140px; height:104px; margin-left:13px; vertical-align:top; display:inline-block;}
.login dl.regist {margin-bottom:10px; vertical-align:top;}
.login dl.regist dd {margin:12px 0 0 0;}
.login dl.regist dd:last-of-type {float:right; margin-top:-104px;}
.login .snsLogin {clear:both; margin:30px 0 8px 0;}
.login .snsLogin:after {clear:both; display:block; content:"";}
.login .snsLogin li {float:left; width:50%;}
.login .snsLogin li:nth-child(odd) {padding:0 3px 6px 0;}
.login .snsLogin li:nth-child(even) {padding:0 0 6px 3px;}
/* 비밀번호 */
/*.popup dl.regist {width:585px; margin-top:0;}
.popup dl.regist dt:first-child {margin-top:0;}
.popup .txt01 {margin-bottom:40px; font-weight:500; font-size:18px; color:#333; line-height:24px; text-align:center;}*/
/* 기존회원(D'AMO) */
.popup section.damo h2 {font-weight:500; font-size:30px; color:#333; text-align:center; line-height:30px;}
.popup section.damo h2 strong {font-weight:700; color:#6c7594;}
.popup section.damo h2 + p {padding:30px 0 38px 0; text-align:center; border-bottom:1px solid #e8e8e8;}
.popup section.damo div.btnC p {padding-bottom:28px; font-weight:500; font-size:16px; color:#333;}
/* 마케팅 제휴 */
#popMarketing {width:740px; height:100vh;}
.popup section.marketing, .popup section.voucher {height:100vh; padding:70px 80px 0 80px; overflow:auto;}
.popup section.marketing h2 {font-size:40px; margin:0 0 18px 0 !important;}
.popup section.marketing h2 + .subtxt {margin:0 !important; text-align:center;}
.popup section.marketing dl.regist {margin:98px 0 50px 0;}
.popup section.marketing dl.regist > dd select {width:152px;}
.popup section.marketing > div, .popup section.marketing > ul.note {margin:0 -80px; padding:50px 80px; border-top:1px solid #e8e8e8;}
.popup section.marketing h3, .popup section.marketing h3 + p {font-size:14px; margin-bottom:18px;}
.popup section.marketing input[type="checkbox"] + label {width:100%; margin-top:28px; padding:20px 20px 20px 50px; border:1px solid #e8e8e8; background:#f7f7f7;}
.popup section.marketing input[type="checkbox"] + label:before {left:20px;}
.popup section.marketing input[type="checkbox"] + label:after {left:23.5px;}
/* 사이트맵 */
/*#sitemap.popup {position:fixed; bottom:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.90); overflow:auto;}*/
#sitemap.popup {background:none;}
#sitemap.popup section {width:1000px; margin:0 auto; padding:45px 0;}
#sitemap.popup section h3 {margin-bottom:18px; padding-bottom:14px; font-size:18px; color:#fff; text-align:left; border-bottom:1px solid #333;}
#sitemap.popup section a {padding:3px 0; color:#fff; display:inline-block;}
/*#sitemap.popup section a:hover {color:#6c7594; text-decoration:underline;}*/
#sitemap.popup section > menu {clear:both; height:auto; overflow:hidden;}
#sitemap.popup section > menu:after {clear:both; display:block; content:"";}
#sitemap.popup section > menu > li {float:left; margin:0 40px 69px 0;}
#sitemap.popup section > menu > li:nth-child(3n+1) {clear:both;}
#sitemap.popup section > menu > li > menu > li > a {padding-left:11px;}
#sitemap.popup section > menu > li > menu > li > a:before {width:3px; height:3px; margin:-2px 8px 0 -11px; background:#999; vertical-align:middle; display:inline-block; content:"";}
#sitemap.popup section menu > li > menu {width:290px; vertical-align:top; display:inline-block;}
#sitemap.popup section menu > li > menu > li li {padding-left:12px;}
#sitemap.popup section menu > li > menu > li li a {font-size:12px; color:#ddd;}
#sitemap.popup .close {position:absolute; top:50px; right:0;}
/* 객실 사진 보기 */
#popPhoto .popArea {width:1000px;}
#popPhoto .popCont {padding:0;}
#popPhoto h3 {margin:30px 0 !important; font-weight:700; font-size:25px; text-align:center; line-height:1;}
#popPhoto .popCont > p {padding:28px 30px; font-size:14px;}
#popPhoto .slide li > span {position:absolute; top:0; left:0; padding:15px 20px 17px 20px; font-weight:700; color:#fff; background:rgba(0,0,0,0.8); display:inline-block; z-index:60;}
#popPhoto .slide li {width:1000px !important; height:460px;}
#popPhoto .bx-wrapper {position:relative; left:0; width:inherit; margin:0 auto !important;}
#popPhoto .bx-controls {position:absolute; top:134px; right:0; width:60px; color:#fff;}
#popPhoto .bx-controls-direction a {position:relative; left:inherit; display:block;}
#popPhoto .bx-wrapper .bx-pager {padding:15px 0; font-weight:300; font-size:16px; line-height:16px; font-family:'Montserrat';}
#popPhoto .bx-wrapper .bx-pager:first-letter {font-weight:700;}
#popPhoto .ico.close {top:30px; right:34px;}
/* 예약 검색 객실 상세 팝업 */
.popup.view h2 {/*width:1200px;*/ font-weight:900; font-size:80px; line-height:90px; text-align:left;}
.popup.view h2 > span {color:#fff; text-stroke:1px #333; -webkit-text-stroke:1px #333;}
.popup.view h3 {font-size:36px; line-height:48px;}
.popup.view div.subtxt {/*max-width:1200px;*/ min-height:102px; margin-top:77px; padding-left:68px; border-left:10px solid #333; display:flex; justify-content:center; flex-direction:column;}
.popup.view div.subtxt > h3 {font-size:31px; line-height:36px; word-break:keep-all; white-space:normal;}
.popup.view div.subtxt > p {margin-top:28px; word-break:keep-all; white-space:normal;}
.popup.view div.subtxt > p:first-child {margin-top:0;}
.popup.view div.subtxt > span {font-weight:700; font-size:24px; line-height:36px; color:#333; word-break:keep-all; white-space:normal;}
.popup.view section.popCont > figure, .popup.view section.popCont > .bx-wrapper {margin:65px -100px 0 -100px !important;}
.popup.view section.popCont > h3, .popup.view section.popCont ul.list.fl, .popup.view section.popCont dl dt, .popup.view section.popCont dl dd {float:left; width:calc(100%/3);}
.popup.view .close.st08 {top:50px; right:60px;}
.popup.view section.popCont > dl {padding-top:80px; border-bottom:1px solid #c4c4c4;}
.popup.view dl.roominfo, .popup.view section.popCont .tabArea {margin-bottom:80px;}
.popup.view dl.roominfo:after {clear:both; display:block; content:"";}
.popup.view dl.roominfo dt {margin-top:-49px;}
.popup.view dl.roominfo dt:nth-of-type(3n + 1) {margin-top:0;}
.popup.view dl.roominfo dd {padding-bottom:70px;}
.popup.view dl.roominfo dd:nth-of-type(3n + 1) {clear:both;}
.popup.view section.popCont > h3.clr {width:100%; margin-top:80px; padding:80px 0 48px 0; border-top:1px solid #c4c4c4;}
.popup.view section.popCont .tabArea {padding-top:85px !important;}
.popup.view section.popCont .tabArea h4 a {font-weight:700; font-size:20px; line-height:85px; border-color:#000;}
.popup.view section.popCont .tabArea .tabCont {clear:both; /*width:1200px; */height:auto; padding:25px 60px 36px 60px; border:1px solid #c4c4c4; border-top:0; overflow:hidden;}
.popup.view section.popCont .tabArea .tabCont li {float:left; width:calc(100%/3); padding:5px 30px 4px 0; font-size:24px; line-height:36px;}
.popup.view section.popCont > ul.list {height:auto; overflow:hidden;}
.popup.view section.popCont ul.list > li {line-height:30px;}
.popup.view section.popCont hr.clr {margin:80px 0; border-color:#c4c4c4;}
.popup.view section.popCont > ol.slide li img {margin-left:-100px;}
.popup.view .bx-wrapper, .popup.view .bx-viewport, .popup.view ol.slide li img {width:1400px !important; max-width:1400px !important; height:644px !important;}
.popup.view .bx-wrapper .bx-pager {position:absolute; top:auto; bottom:30px; width:100%;}
.popup.view .bx-wrapper .bx-pager.bx-default-pager a {width:20px; height:20px; margin:0 5px; border-radius:50%; border:1px solid #333; background-color:transparent;}
.popup.view .bx-wrapper .bx-pager.bx-default-pager a:hover {background:#333;}
.popup.view .bx-wrapper .bx-pager.bx-default-pager a.active {background:#333;}
.popup.view .bx-wrapper .bx-controls-direction a {width:43px; height:88px; margin-top:-44px; font-size:0; background-image:url("/assets/hub/global/images/btn/btn_slide07.png"); background-repeat:no-repeat; opacity:0.3;}
.popup.view .bx-wrapper .bx-prev {left:60px; background-position:0 0;}
.popup.view .bx-wrapper .bx-next {right:60px; background-position:100% 0;}
.popup.view .bx-wrapper .bx-controls-direction a:hover, .popup.view .bx-wrapper .bx-controls-direction a:active {opacity:1;}
.popup.popRoomView .popCont {max-width:1400px;}
/* 패키지 상세 팝업 */
.popup.offerView .popCont {width:1200px; padding-bottom:0;}
.popup.offerView .popCont > figure span img {width:100%;}
.popup.offerView .popCont > section.cont {padding:30px 0 70px 0;}
.popup.offerView .popCont > section.cont > section {padding:50px 0 60px 0;}
.popup.offerView .popCont > section.cont > section:not(:first-of-type) {border-top:1px solid #c4c4c4;}
.popup.offerView .popCont > section.cont > section * + *:not(li):not(dd) {margin-top:15px;}
.popup.offerView .popCont > section.cont h4, .popup.offerView .popCont.walkee dl.info07 > dt, .popup.offerView .popCont.walkee h5.em01 {font-size:36px; line-height:50px; text-transform:uppercase;}
.popup.offerView .popCont > section.cont dl.info01.st03 dd {color:#333; font-size:18px;}
.popup.offerView .popCont > section.cont ul li {font-size:16px; line-height:28px;}
.popup.offerView .popCont > section.cont ul.list, .popup.offerView .popCont > section.cont dl dt, .popup.offerView .popCont > section.cont dl dd, .popup.offerView .popCont > section.cont dl dd, .popup.offerView .popCont.walkee dl.info07 > * {float:inherit; width:auto;}
.popup.offerView .popCont > section.cont dl.price > * {font-family:'Montserrat'; font-size:24px; color:#333; line-height:36px; display:block;}
.popup.offerView .popCont > section.cont dl.price > dd span {color:#E21616; text-decoration:line-through;}
.popup.offerView .popCont > section.cont img {max-width:100%;}
.popup.offerView .popCont > section.cont > section > ul.note {padding:20px 20px 20px 30px; background:#f5f5f5;}
.popup.offerView .popCont > section.partner {margin:0 -100px; padding:0 100px; line-height:90px; background:#f5f5f5;}
.popup.offerView .popCont > section.partner * {clear:inherit; width:auto; margin:0 25px 0 0;}
/* 그랜드 액티비티 상세 팝업 */
.popup.offerView .popCont.walkee dl.info07 > dt {margin-top:50px; font-family:'Montserrat'; font-weight:700; color:#333;}
.popup.offerView .popCont.walkee dl.info07 > dd {padding-bottom:60px; border-bottom:1px solid #c4c4c4;}
.popup.offerView .popCont.walkee dl.info01.st01 > dt {float:left; margin-top:0;}
.popup.offerView .popCont.walkee section.cont > section:not([class]) {padding:20px 0 0 0;}
/* 가이드맵 */
.popHotel.popup {height:674px; padding:180px 0 40px 0;}
.popHotel.popup > section {padding-top:26px; padding-right:30px;}
.popHotel section p {width:350px; margin-bottom:16px; font-size:16px; line-height:24px;}
.popHotel section .tabArea, .popHotel section ol.full {width:350px;}
.popHotel .tabArea > h4.on a {background:#3f5e8a;}
/* 그랜드 */
#popGrand h2 {background-image:url(/assets/app/global/images/etc/pic_mapGrand.jpg);}
/* 비스타 */
#popVista h2 {background-image:url(/assets/app/global/images/etc/pic_mapVista.jpg);}
/* 컨벤션 */
#popConvention h2 {background-image:url(/assets/app/global/images/etc/pic_mapConvention.jpg);}
/* 상세 */
.popDetail.popup {max-height:674px; padding:125px 0 120px 0;}
.popDetail.popup > section {height:calc(100% - 245px); max-height:429px;}
/* 중요공지 */
.popNotice.table {margin:0 auto; display:table;}
.popNotice.table > div {border-right:10px solid transparent; border-left:10px solid transparent; vertical-align:top; display:table-cell;}
.popNotice section {padding:60px 30px 40px 30px; font-weight:500; font-size:14px; line-height:22px; letter-spacing:-0.06em; border-top:10px solid #6c7594;}
.popNotice h2 {margin-bottom:30px; font-weight:500; font-size:37px; color:#333; text-align:center;}
.popNotice h2:after {width:38px; height:2px; margin:20px auto 0 auto; background:#6c7594; display:block; content:"";}
.popNotice strong {font-weight:700; color:#6c7594;}
.popNotice p:not(.note) {word-break:keep-all;}
.popNotice p:first-of-type strong, .popup.st02 p:nth-child(7) {font-weight:700; color:#333;}
.popNotice p:not(:first-of-type), .popup.st02 div > dl.info01 {margin-top:24px;}
.popNotice dl.info01 > * {margin-top:0; font-weight:500; font-size:14px; line-height:22px;}
.popNotice dl.info01.st04 {margin:14px auto 38px auto; display:table;}
.popNotice table {margin-top:26px;}
.popNotice > figure > span {line-height:0; display:block;}
.popNotice div.btnArea {width:100%; height:40px; background:#333; display:table;}
.popNotice div.btnArea > span {height:100%; padding:8px 30px; display:table-cell;}
.popNotice div.btnArea > span:last-of-type {width:124px; padding:0; background:#6c7594;}
.popNotice div.btnArea > span > * {color:#fff;}
.popNotice div.btnArea > span button.close {width:100%; height:100%; font-weight:500; background-color:transparent;}
.popNotice div.btnArea > span button.close:before {width:17px; height:17px; margin-right:9px; border:1px solid #ddd; background:url(/assets/darakhyu/global/images/btn/btn_close04.png) 50% no-repeat; vertical-align:-3px; display:inline-block; content:"";}
.popNotice div.listArea {margin-top:18px; padding:20px 25px 20px 30px; background:#f7f7f7;}
.popNotice div.listArea h3 {margin:0 0 7px 0; font-size:14px; text-align:left;}
.popNotice div.listArea h3:not(:first-child) {margin-top:20px;}
.popNotice div.listArea dl.info01 {margin-top:0;}
.popNotice img {vertical-align:top;}
.popNotice dl.listArea {clear:both; height:auto; margin-top:24px; background:#f7f7f7; overflow:hidden;}
.popNotice dl.listArea dt, .popNotice dl.listArea dd {min-height:41px; padding-top:8px; padding-bottom:10px; font-weight:500; border-top:1px solid #fff; overflow:hidden;}
.popNotice dl.listArea dt {clear:both; float:left; width:182px; padding-left:20px; color:#333; font-weight:700;}
.popNotice dl.listArea dd {padding-right:15px;}
.popNotice dl.listArea dt.fn, .popNotice dl.listArea.st01 dt {float:none; width:auto; min-height:auto; padding-bottom:3px;}
.popNotice dl.listArea dt.fn + dd, .popNotice dl.listArea.st01 dd {min-height:auto; padding-left:20px; padding-top:0; padding-bottom:12px; border-top:0 none;}
.popNotice dl.listArea span {font-size:12px;}
.popNotice dl.listArea span em {font-weight:400;}
.popNotice .btnC .btn {width:200px;}
#popNotice {top:90px !important; left:100px !important;}
#popNotice section, #popExplorer section {width:430px; /*max-width:640px; font-size:18px; line-height:28px;*/}
/* 익스플로러 접속 미지원 */
#popExplorer {top:90px !important; left:537px !important;}
.popNotice.popExplorer section {border-top-color:#2691e3;}
.popNotice.popExplorer .btnArea span {background-color:#2691e3 !important;}
/* 국가브랜드 */
#popNational {top:90px !important; left:600px !important;}
/* 여름특가 */
#popSecret {top:90px !important; left:537px !important;}
#popSecret section {padding-top:0; text-align:center;}
#popSecret figure.caption > span {margin:0 -40px;}
#popSecret figure.caption figcaption {padding-top:39px;}
#popSecret h4 {margin-bottom:9px; font-size:16px; font-weight:500;}
#popSecret h3 {margin-bottom:25px; font-size:32px;}
#popSecret h5 {font-size:16px;}
/* 수영장이용 */
#popPool {width:430px; top:90px !important; left:537px !important;}
#popPool p {padding-bottom:22px;}
/* 시스템안내 */
#popSystem section {/*font-size:18px;*/}
#popSystem dl.info01 {margin-top:15px;}
/* 쿠폰사용하기 */
#popCouponUse {background:#fff;}
#popCouponUse section {margin:0; padding:26px 0 0 0;}
#popCouponUse h5 {padding:0 60px; margin-bottom:28px; font-size:16px; line-height:24px; text-align:center;}
#popCouponUse dl.hotel select, #popCouponUse dl.hotel .select2 {width:244px !important;}
#popCouponUse dl.option select, #popCouponUse dl.option .select2 {width:150px !important;}
#popCouponUse .search {float:none; margin:0;}
#popCouponUse .search dl.option dd {height:42px;}
#popCouponUse .reserve .search > div:first-child {width:481px; height:292px;}
#popCouponUse div.ui-datepicker .ui-widget-header .ui-icon {top:30px;}
/*#popCouponUse .reserve .search dl.option dd select, #popCouponUse .reserve .search dl.option dd .select2 {width:75px !important;}*/
#popCouponUse .select2-selection.option01 .select2-selection__rendered {padding-left:10px;}
/* 사용쿠폰 */
#popCoupon {width:680px;}
/* 클럽스위트 프로모션 */
#popClubSuite {top:90px !important; left:537px !important; width:560px;}
#popClubSuite section {padding:0; border:0 none;}
/* 안내사항 */
.popAlert .popCont {font-size:18px; line-height:30px;}
/* 내예약정보 */
.popMyReserve section {padding:50px !important;}
.popMyReserve h4 {margin:20px 0 17px 0; font-size:14px;}
.popMyReserve dl.regist dt {width:90px;}
.popMyReserve dl.regist:not(.myReserve) dd {margin-left:90px !important;}
.popMyReserve dl.myReserve {margin:20px -50px 0 -50px; padding:20px 50px; background:#efefef; overflow:hidden; display:block;}
.popMyReserve dl.myReserve dd {width:100%;}
.popMyReserve dl.myReserve dd ol.check li:first-of-type {width:75%;}
.popMyReserve dl.myReserve dd ol.check li:last-of-type {width:25%;}

/* WPC 문의 */
.popInquiry {width:615px;}
.popInquiry section {overflow:hidden;}
.popInquiry * {font-size:13px;}
.popInquiry h2 {font-size:26px;}
.popInquiry h2 + p strong {color:#333;}
.popInquiry dl.regist {margin:15px -30px 0 -30px; padding:20px 30px; background:#f7f7f7;}
.popInquiry dl select, .popInquiry dl .select2 {width:100% !important;}
.popInquiry h3 {margin:30px 0 10px 0 !important; font-size:13px !important; text-align:left !important;}
.popInquiry .subtxt {margin-bottom:18px;}
.popInquiry table.data:nth-of-type(2) {margin-top:50px}
.popInquiry table + p, .popInquiry fieldset > p:last-of-type {margin-top:10px;}
.popInquiry input[type="checkbox"]:not([class]) + label.agreeC {margin-top:-10px;}

/* 통합예약:조식안내팝업 */
.popBreakfast .popArea {width:700px !important;}
.popBreakfast ol.list04 li {margin-top:20px; padding-left:20px;}
.popBreakfast ol.list04 > li:before {font-weight:700; color:#333;}
.popBreakfast ol.list04 li h3 {line-height:30px;}

/* 페이스북 로그인 지원종료 */
.popFacebook {width:700px;}
.popFacebook section {padding:30px !important;}
.popFacebook p {text-align:center; word-break:keep-all;}
.popFacebook p + p {margin-top:10px;}

/* 임직원안내 */
.popStaffOnly.popup.initPop .popCont.st03 {padding:80px;}
.popStaffOnly h2 {margin-top:0 !important; margin-bottom:20px !important; font-size:40px !important; letter-spacing:0 !important;}
.popStaffOnly h2 figure {margin-bottom:16px;}
.popStaffOnly p {padding:10px 100px 0 100px; text-align:center; background:#f7f7f7;}
.popStaffOnly p:first-of-type {padding-top:30px;}
.popStaffOnly p:last-of-type {padding-bottom:32px;}
.popStaffOnly .btnR a:not(:first-child) {margin-left:15px}

/* 프로모션 선택 */
.popPromotion .popCont {width:1000px;}
.popPromotion .popCont .btnL.half {margin-top:50px;}
.popPromotion .popCont .btnL.half .btn {width:calc(50% - 10px) !important;}
.popPromotion .hgroup, .popPromotion  h4.line {margin-top:50px;}
.popPromotion h3 {margin-bottom:20px; font-size:36px; line-height:48px; text-align:left;}
.popPromotion h3:not(:first-child) {margin-top:100px;}
.popPromotion ul.checkOption > li {min-height:80px;}
.popPromotion ul.checkOption > li > label {width:360px;}
.popPromotion ul.checkOption > li dl.options > dt:first-of-type {width:150px; padding:0 10px; display:flex;}
.popPromotion ul.checkOption > li dl.options > dt:first-of-type i {margin-left:auto;}

/* 예약 내 공지. */
.initPop.popResevetionNotice .popBody > h1 {padding:0 50px;}
.popResevetionNotice .popBody {width:500px !important;}
.popResevetionNotice .close {top:-40px;}

/* 상품권 안내 */
#popVoucher {width:777px; height:100vh;}
.popup section.voucher h2 {font-size:40px; margin-bottom:0; padding:0 0 40px 0;}
.popup section.voucher .saleInfo > dt {width:130px; padding-top:30px; border-top:1px solid #e8e8e8;}
.popup section.voucher .saleInfo > dt h4 {font-size:18px; padding:0 0 60px 0;}
.popup section.voucher .saleInfo > dt figure img {width:100px; height:auto;}
.popup section.voucher .saleInfo > dd {padding:30px 0 40px 30px;}
.popup section.voucher .saleInfo > dd table.data {width:440px; margin-top:20px;}
.popup section.voucher .saleInfo > dd .note {margin-top:10px;}
.popup section.voucher .saleInfo > dd dl.info04 {margin-top:15px;}
.popup section.voucher .saleInfo > dd dl.info04 > dd dl dt {font-weight:700; color:#333;}
.popup section.voucher .saleInfo > dd dl.info04 > dd dl dt:after {margin-left:6px; width:1px; height:10px; background:#cecece; display:inline-block; content:"";}

/* 카드등록 */
.popCardRegist .tipArea.st02 {margin-left:6px;}
.popCardRegist .tooltip {left:-98px; width:300px; background:#6c7594; color:#fff; border-color:#6c7594; font-weight:400;}
.popCardRegist .tooltip.top:before, .popCardRegist .tooltip.top:after {left:98px; border-top-color:#6c7594;}
.popCardRegist .tooltip p + figure {margin-top:10px;}
.popCardRegist .tooltip p + figure img {width:100%;}
.popCardRegist .cardDone {margin-top:5px; display:none;}
.popCardRegist .cardDone .cardPoint {margin-top:40px; color:#333;}
.popCardRegist .cardDone .cardPoint dt {margin-bottom:4px; font-size:15px; font-weight:500;}
.popCardRegist .cardDone .cardPoint dd {height:70px; padding:20px 30px; font-size:24px; font-weight:700; border:1px solid #c4c4c4; align-items:center; justify-content:flex-end; display:flex;}
.popCardRegist .cardDone .noteArea {margin:20px 0; padding:30px 20px; background:#f5f5f5;}
.popCardRegist .cardDone .agrees > dd {padding-top:18px;}
.popCardRegist .cardDone .agrees > dd p.note {margin-top:18px; padding-top:18px; border-top:1px solid #e8e8e8;}

/* 영업안내 */
.popOpenInfo h3.tc {margin-bottom:30px;}

/* 크레딧 카드 정보없음 */
#popNoCredit h2 {font-size:28px; line-height:28px;}


/* 경고창
------------------------------------------------------------------------------- */
.swal2-container {padding:0.625em 0 0 0;}
.swal2-popup {width:488px; max-width:600px; padding:50px 40px; font-size:18px !important; color:#333; line-height:30px !important; text-align:center; border-radius:0; word-break:keep-all; white-space:normal;}
.swal2-popup button:focus {box-shadow:none !important;}
.swal2-popup .swal2-close {position:absolute; top:5px; right:5px;}
.swal2-title {margin:0; padding-bottom:19px; font-size:24px !important; line-height:30px !important;}
.swal2-html-container {margin:0; padding:0; font-size:18px !important; color:#333; line-height:30px !important; font-weight:700;}
.swal2-actions {width:100%; margin-top:30px;}
.swal2-actions .btn {width:100%; border-radius:0;}
.swal2-actions.half {justify-content:space-between; flex-direction:row-reverse;}
.swal2-actions.half .btn {width:calc(50% - 5px);}
.swal2-styled {height:50px; margin:0 5px; padding:0 38px; font-size:15px !important; border-radius:0 !important;}
.swal2-styled.swal2-confirm {/*width:calc(50% - 5px);*/ background:#333 !important;}


