@charset "utf-8";

/**************************************************
프로그램 ID : base.css
프로그램 명 : Base Cascading Style Sheets
작  성   자 :
최초 작성일 : 2018/09/04
최종 작성일 :
참고   사항 :
**************************************************/


* {margin:0; padding:0; border:0 none transparent; box-sizing:border-box;}

:before, :after {box-sizing:border-box;}
html, body, pre {font-family:"Noto Sans KR", sans-serif; font-size:14px; line-height:22px; color:#666; font-weight:400; letter-spacing:-0.03em; /*-webkit-text-size-adjust:100%;*/}
form, fieldset, p, figure {word-break:normal; word-wrap:break-word;}
legend, caption, figcaption {display:none;}
img, fieldset {/*'transparent' for Opera7*/}
menu, ol, ul, li, dl, dt, dd {list-style:none;}
menu, ol, ul, dl, dt {display:block;}
table {width:100%; border-collapse:collapse;}
table th, table td {color:#666; vertical-align:top; word-break:normal; word-wrap:break-word;}
input, select, textarea, button {font-family:"Noto Sans KR", sans-serif; font-size:14px; color:#666; font-weight:400; vertical-align:middle;}
textarea {resize:none;}
button, label {cursor:pointer;}
button::-moz-focus-inner {padding:0; border:0;}
a {text-decoration:none; cursor:pointer; transition:color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.1s linear 0s !important;}
a:link, a:visited {color:#FFF;}
a:hover, a:active {color:#333;}
h1, h2, h3, h4, h5, h6 {line-height:1; word-break:normal; word-wrap:break-word;}
h1, h2, h3, h4, h5, h6, strong, th {font-weight:700;}
address, em, i {font-style:normal;}
hr {border-top:1px solid #e5e9ec;}
figure > span {line-height:0; display:block;}
figure.caption figcaption {display:block;}
*:focus {outline:none;}
.fit {display:flex; overflow:hidden;}
.fit img {width:100%; height:100%; object-fit:cover;}

.fl {float:left !important;}
.fr {float:right !important;}
.fn {float:none !important;}
.clr {clear:both;}

.tl {text-align:left !important;}
.tr {text-align:right !important;}
.tc {text-align:center !important;}

.vt {vertical-align:top;}
.vb {vertical-align:bottom;}
.vm, .btns {vertical-align:middle;}

.nobg {background:none !important;}
.nobd {border:0 none !important;}
.nobl {border-left:0 none !important;}
.nobt {border-top:0 none !important;}
.nomg {margin:0 !important;}
.nomt {margin-top:0 !important;}
.nomb {margin-bottom:0 !important;}
.noml {margin-left:0 !important;}
.nopdt {padding-top:0 !important;}
.nopd {padding:0 !important;}
.nopb {padding-bottom:0 !important;}
.nopl {padding-left:0 !important;}
.nodp {display:none;}
.blind, .hide {position:absolute !important; width:0 !important; height:0 !important; font-size:0; line-height:0; visibility:hidden; overflow:hidden;}

.btnL {margin-top:20px; text-align:left;}
.btnL .btn:not(:last-child), .btnL a:not(:last-child) {margin-right:3px;}
.btnL.half .btn {margin:0;}
.btnL.half .btn:only-child {width:100%;}
.btnL.half .btn:not(:only-child) {width:calc(50% - 2.5px) !important;}
.btnL.half .btn:nth-child(odd) {clear:both;}
.btnL.half .btn:nth-child(even) {float:right;}
.btnL.half.st01 .btn:not(:first-child):not(:nth-child(2)) {margin-top:10px;}
.btnL.half.st01 .btn:last-child:not(:nth-child(even)) {width:100%;}
.btnR {margin-top:20px; text-align:right;}
.btnR .btn:not(:first-child), .btnR a:not(:first-child) {margin-left:3px;}
.btnR.pgNext {float:right; margin-top:-30px;}
.btnR.fr:first-child {margin-top:0;}
.btnC {margin-top:40px; text-align:center;}
.btnC .btn, .btnC a {margin:0 1.5px;}
.btnC .btn:first-child, .btnC a:first-child {margin-left:0;}
.btnC .btn:last-child, .btnC a:last-child {margin-right:0;}
.btnC .fr {margin-right:0;}
.btnC.full .btn {width:100%; margin:0;}
.btnC.full .btn + .btn {margin-top:5px;}

.btnTop {margin-bottom:8px;}
.btnMid {margin-top:20px; margin-bottom:60px;}
.btnBtm {margin-top:30px !important;}

.tblTop {margin-bottom:20px;}
.tblMid {margin-bottom:40px;}
.tblBtm {margin-top:10px;}

.tabBtm {margin-top:40px;}

.pgMid {margin-top:30px; margin-bottom:30px;}
.pgBtm {margin-top:50px;}

.autoImg {overflow:hidden;}

::-webkit-input-placeholder {color:#aaa;}
:-moz-placeholder {color:#aaa; opacity:1;}
::-moz-placeholder {color:#aaa; opacity:1;}
:-ms-input-placeholder {color:#aaa !important;}
::-ms-input-placeholder {color:#aaa;}
.placeholder {color:#aaa !important;}


/* input
------------------------------------------------------------------------------- */
input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], input[type="file"] {width:100%; height:46px; padding:0 20px; border:1px solid #e5e9ec; background-color:#fff; outline:0; transition:background 0.2s linear 0s,box-shadow 0.2s linear 0s;}
.uneditable-input.focus, textarea:focus, select:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, input[type="file"]:focus, .m-uneditable-input:focus {color:#666; /* background-color:#f4f5f7; font-weight:500;*/}
input[type=image] {width:auto !important; height:auto !important; margin:0; padding:0 !important; border:0 none !important; background:none;}

/*input[type="radio"], input[type="checkbox"] {width:auto !important; height:auto !important; margin:0; padding:0 !important; border:0 none !important; background:none; vertical-align:-3px;}*/
input[type="radio"], input[type="checkbox"] {width:17px !important; height:17px !important; margin-right:-19px !important; line-height:0; border:0; vertical-align:middle; display:inline-block; opacity:0;}
input[type="radio"]:focus + label, input[type="checkbox"]:focus + label {/*outline:1px dotted #666;*/}
input[type="radio"] + label, input[type="checkbox"] + label {position:relative; padding-left:24px; margin-right:15px; line-height:22px; text-align:left !important; vertical-align:middle; display:inline-block; transition:border 0.2s linear 0s, color 0.2s linear 0s;}
input[type="radio"] + label.st01 {width:17px; padding-left:17px; text-indent:-9999px;}
input[type="radio"] + label:last-child, input[type="checkbox"] + label:last-child {margin-right:0;}
input[type="radio"]:checked + label, input[type="checkbox"]:checked + label {color:#333;}
input[type="radio"] + label:before, input[type="radio"] + label:after, input[type="checkbox"] + label:before, input[type="checkbox"] + label:after {vertical-align:middle; display:inline-block; content:""; transition:border 0.2s linear 0s, color 0.2s linear 0s;}
input[type="radio"] + label:before, input[type="radio"] + label:after {position:absolute; top:50%; border-radius:50%;}
input[type="radio"] + label:before {left:0; width:17px; height:17px; margin:-8px 7px 0 0; border:1px solid #dedede; background:#eee;}
input[type="radio"]:checked + label {color:#666;}
input[type="radio"]:checked + label:before {border:5px solid #768396; background:#f7f7f7;}
input.thumb + label:before, input.thumb + label:after {display:none;}
input.thumb + label {padding:0 !important;}
input.thumb + label figure span {width:130px; height:130px; border-radius:50%; background:#fff; overflow:hidden;}
input.thumb + label figcaption {position:relative; width:130px; height:130px; margin-top:-130px; text-align:center; display:block;}
input.thumb + label figcaption > div {width:130px; height:130px; display:flex; justify-content:center; align-items:center;}
input.thumb + label figcaption > mark.choice {margin:5px 0 0 11px; display:none;}
input.thumb:disabled + label figure span img {filter:grayscale(100%); -webkit-filter:grayscale(100%); opacity:0.6;}
input.thumb:checked + label figure {position:relative;}
input.thumb:checked + label figure span {/*border:5px solid #333;*/}
input.thumb:checked + label figure span img {/*margin:0 -5px; width:140px;*/}
input.thumb:checked + label figure:after {position:absolute; top:0; left:0; width:100%; height:100%; border-radius:1px solid #6d7693; border-radius:50%; background:url("/assets/hub/global/images/ico/ico_check04.png") 50% 50% no-repeat; background-color:rgba(109,118,147,0.90); display:block; content:"";}
input.thumb:checked + label figcaption > mark.choice {display:block;}

input[type="checkbox"] + label {font-size:14px;}
input[type="checkbox"] + label:before {position:absolute; left:0; top:50%; width:17px; height:17px; margin:-8.5px 7px 0 0; border:1px solid #ddd; background:#eee;}
input[type="checkbox"] + label:after {position:absolute; left:3.5px; top:50%; width:16px; height:16px; margin-top:-10px; font-family:'icomoon'; font-size:11px; color:#ddd; content:"\f00c";}
input[type="checkbox"] + label.st01 {padding-left:17px; text-indent:-9999px;}
input[type="checkbox"] + label.st02 {width:100%; padding:20px 20px 20px 50px; color:#222; font-weight:700; border:1px solid #e8e8e8; background:#f7f7f7;}
input[type="checkbox"] + label.st02:before {left:20px; background:#fff;}
input[type="checkbox"] + label.st02:after {left:23.5px;}
input[type="checkbox"]:checked + label:before {border-color:#768396; background:#768396;}
input[type="checkbox"]:checked + label:after {color:#fff;}
input[type="checkbox"] + label.em01 {font-size:13px; color:#474e61;}
input[type="checkbox"] + label.tr {padding-right:25px;}
input[type="checkbox"] + label.tr:before {position:absolute; left:auto; right:0; margin-right:0;}
input[type="checkbox"] + label.tr:after {left:auto; right:-2.8px;}
input[type="checkbox"] + label.em01.tr:before {margin-top:-8px;}
input[type="checkbox"] + label.em01.tr:after {margin-top:-9px;}
input[type="checkbox"] + label.em02 {font-size:12px; line-height:17px;}
input[type="checkbox"] + label.em02:after {margin-top:-8px;}
input[type="checkbox"] + label.em03 {color:#fff;}
input[type="checkbox"]:checked + label.em03:before {border-color:#333; background:#333;}
input[type="checkbox"]:not([class]) + label.agreeC {width:100%; margin:5px 0 0 0; padding-left:28px; font-size:12px; line-height:32px; border:1px solid #e8e8e8; background:#fff;}
input[type="checkbox"]:not([class]) + label.agreeC:before {left:10px; width:10px; height:10px; margin-top:-5px;}
input[type="checkbox"]:not([class]) + label.agreeC:after {display:none;}
input[type="checkbox"]:not([class]):checked + label.agreeC {color:#fff; border-color:#909caa; background:#909caa;}
input[type="checkbox"]:not([class]):checked + label.agreeC:before {display:none;}
input[type="checkbox"]:not([class]):checked + label.agreeC:after {left:11px; color:#fff; line-height:20px; display:block;}
input[type="checkbox"] + label.icon {width:140px; height:140px; padding:14px 16px !important; font-weight:700; font-size:16px !important; background:#f5f5f5;}
input[type="checkbox"] + label.icon:before {position:initial; width:108px !important; height:65px !important; margin:6px 0 0 0 !important; border:0; border-radius:0; background-color:transparent !important; background-repeat:no-repeat; background-position:center top; display:block;}
input[type="checkbox"] + label.icon.bed:before {background-image:url("/assets/hub/global/images/ico/ico_bed01.png");}
input[type="checkbox"] + label.icon.wine:before {background-image:url("/assets/hub/global/images/ico/ico_wine02.png");}
input[type="checkbox"] + label.icon strong, input[type="checkbox"] + label.icon mark {text-align:center; line-height:40px; display:block;}
input[type="checkbox"] + label.icon:after, input[type="checkbox"] + label.icon strong {display:none;}
input[type="checkbox"] + label.icon mark {color:#333; border:1px solid #333; border-radius:5px; background-color:transparent;}
input[type="checkbox"]:checked + label.icon {color:#fff; background-color:#333;}
input[type="checkbox"]:checked + label.icon mark {display:none;}
input[type="checkbox"]:checked + label.icon strong {color:#fff; display:block;}
input[type="checkbox"]:checked + label.icon.bed:before {background-image:url("/assets/hub/global/images/ico/ico_bed01_on.png");}
input[type="checkbox"]:checked + label.icon.wine:before {background-image:url("/assets/hub/global/images/ico/ico_wine02_on.png");}
input[type="checkbox"].option {margin-right:-17px !important;}
input[type="checkbox"].option + label {width:100%; padding-left:92px !important; font-weight:700; color:#333; line-height:70px !important; border:1px solid #e7e7e7;}
input[type="checkbox"].option + label:before {left:21px; width:31px !important; height:22px !important; margin:-11px 0 0 0 !important; border:0; border-radius:0; background:url("/assets/hub/global/images/ico/ico_check01.png") 0 0 no-repeat; background-color:transparent !important;}
input[type="checkbox"].option + label:after {display:none;}
input[type="checkbox"].option:checked + label {background-color:#e7e7e7;}
input[type="checkbox"].option:checked + label:before {background-position:100% 0; background-color:transparent !important;}

input[disabled], select[disabled] {background:#e5e9ec;}
input[disabled] + label {color:#dbdbdb; cursor:default;}
input[disabled] + label:before {border-color:#dbdbdb;}

input[readonly], select[readonly] {/*font-weight:500;*/ color:#333; background:#f7f7f7;}

select {height:38px; color:#666; border:1px solid #e5e9ec;}

textarea {width:100%; padding:17px 16px 17px 20px; border:1px solid #e8e8e8; background:#fff;}

input.error, select.error {border-color:#e07b46;}

/* 예약 */
#container.bookCont input[type="radio"] + label {padding-left:37px; font-size:18px; line-height:30px;}
#container.bookCont input[type="radio"] + label:before {left:0; width:30px; height:30px; margin:-15px 7px 0 0; border:0; background-color:#c4c4c4;}
#container.bookCont input[type="radio"] + label:after {left:0; width:30px; height:30px; margin-top:-15px; background:url("/assets/hub/global/images/ico/ico_check02.png") center no-repeat;}
#container.bookCont input[type="radio"]:checked + label:before {border-color:#333; background-color:#333;}
#container.bookCont input[type="radio"]:checked + label, #container.bookCont input[type="checkbox"]:checked + label {color:#333;}

#container.bookCont input[type="checkbox"] + label, .popCardRegist input[type="checkbox"] + label {padding-left:37px; font-size:18px; line-height:30px;}
#container.bookCont input[type="checkbox"] + label:before, .popCardRegist input[type="checkbox"] + label:before {width:30px; height:30px; margin:-15px 7px 0 0; border:0; background-color:#c4c4c4;}
#container.bookCont input[type="checkbox"] + label:after, .popCardRegist input[type="checkbox"] + label:after {left:0; width:30px; height:30px; margin-top:-15px; background:url("/assets/hub/global/images/ico/ico_check02.png") center no-repeat; content:"";}
#container.bookCont input[type="checkbox"]:checked + label:before, .popCardRegist input[type="checkbox"]:checked + label:before {border-color:#333; background-color:#333;}

#container.bookCont input[type="checkbox"] + label.agreeC {padding-left:68px; font-weight:700; font-size:18px; color:#333; border:0; background:#f5f5f5; line-height:30px;}
#container.bookCont input[type="checkbox"] + label.agreeC:before {left:18px; border-radius:50%; background:url("/assets/hub/global/images/ico/ico_check02.png") #c4c4c4 center no-repeat; content:"";}
#container.bookCont input[type="checkbox"] + label.agreeC:after {display:none;}
#container.bookCont input[type="checkbox"]:checked + label.agreeC:before {background-color:#333; display:block;}
#container.bookCont input[type="checkbox"] + label.agreeC.st03 {line-height:58px; border:1px solid #c4c4c4; border-radius:5px; background:#fff;}
#container.bookCont input[type="checkbox"]:checked + label.agreeC.st03 {border-color:#333;}
